<%= turbo_frame_tag "comments" do %>
  <%= form_with url: post_comments_path do |form| %>
      <%= form.hidden_field :user, value: current_user.email %>
    <div>
      <%= form.text_area :body %>
      <%= form.label :body, "Comment:" %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>
<% end %>