<div class = "footer">
  <div class = "socials">
    <%= link_to image_tag("github_logo.png", size: "30x29", alt: "github logo"), "https://github.com/TrueZortal", target: :_blank %>
    <%= link_to image_tag("linkedin_logo.png", size: "30x29", alt: "LinkedIn logo"), "https://www.linkedin.com/in/buczekm/", target: :_blank %>
    <%= mail_to "mtsbck@gmail.com", image_tag("mail_icon.png", size: "30x29", alt: "email icon")%>
  </div>
  <div class = "signature">
    <% if is_admin %>
      <%= link_to sign_out_path do %>
        <p>&copy</p>
      <% end %>
    <% else %>
      <%= link_to sign_in_path do %>
        <p>&copy</p>
      <% end %>
    <% end %>
    <p>Mateusz Buczek 2024</p>
  </div>
</div>
