<div class = "topbar">
  <div class = "banner">
    <h1 class = "bannertext">Buczek.blog</h1>
  </div>
  <div class = "verticalline"></div>
  <div class = "navbar">
    <%= link_to "posts", root_path, data: { turbo_frame: "main" }, class: "btn btn--menu"%>
    <%= link_to "about", about_path, data: { turbo_frame: "main" }, class: "btn btn--menu"%>
    <%= link_to "projects", projects_path, data: { turbo_frame: "main" }, class: "btn btn--menu"%>
  </div>
  <div class = "login_corner">
    <div class = "signin">
      <% if user_signed_in? %>
        <h6> <%=current_user.email%> </h6>
      <% else %>
        <%= link_to "log/sign in", new_user_session_path, data: { turbo_frame: "main" }, class: "login_link" %>
      <% end %>
    </div>
    <div class = "logout">
      <% if user_signed_in? %>
        <%= link_to "logout", destroy_user_session_path, data: { turbo_frame: "main" }, class: "logout_link"%>
      <% end %>
    </div>
  </div>
</div>