<div class = "outer_project_block">
  <br>
  <%= link_to  "A simple tower defense game with DragonRuby","https://zortal.itch.io/undead-game", class: "project_subtitle_text", target: :_blank %>
    <div class = "project_block">
      <p class = "project_text">
      My first "game". Made with DragonRuby, a simple tower defense game. It taught me a lot of about game design, practical applications of arithmetics and that making a UI work and feel good is anything but a trivial endevour.

      Plays best if downloaded, the web client isn't that well optimised and neither are my approaches used here.
    </p>
  </div>
</div>
<%= image_tag "https://buczek-blog-bucket.s3.eu-central-1.amazonaws.com/undead_game3.png", class: "image" %>
<%= image_tag "https://buczek-blog-bucket.s3.eu-central-1.amazonaws.com/undead_game4.png", class: "image" %>
<%= image_tag "https://buczek-blog-bucket.s3.eu-central-1.amazonaws.com/undead_game5.png", class: "image" %>
<%= image_tag "https://buczek-blog-bucket.s3.eu-central-1.amazonaws.com/undead_game6.png", class: "image" %>
