<%= turbo_frame_tag "main" do %>
  <div class = "project_body">
    <div class = "outer_project_block">
      <%= link_to  "Ultimate Giga Master Super Summoner King Online - Playable online strategy game","https://zortalowa-gra.herokuapp.com/", class: "project_title_text", target: :_blank%>
        <div class = "project_block">
          <%= image_tag "s3://buczek-blog-bucket/summoner_game_online_blog.png", class: "project_pic_right", size: "600x309"  %>
          <p class = "project_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non convallis tortor.
          Nullam velit ante, tempor eu enim fringilla, efficitur mollis dui. Proin pellentesque et velit et posuere.
          Ut dictum nunc tellus, a euismod magna pharetra sit amet. Praesent tempor velit non pharetra iaculis.
          Phasellus iaculis, velit sit amet lobortis tristique, felis metus cursus dui,
          sit amet pretium arcu erat nec felis. Orci varius natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus.Sed mattis eros at maximus congue.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non convallis tortor.
          Nullam velit ante, tempor eu enim fringilla, efficitur mollis dui. Proin pellentesque et velit et posuere.
          Ut dictum nunc tellus, a euismod magna pharetra sit amet. Praesent tempor velit non pharetra iaculis.
          Phasellus iaculis, velit sit amet lobortis tristique, felis metus cursus dui,
          sit amet pretium arcu erat nec felis. Orci varius natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus.Sed mattis eros at maximus congue.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non convallis tortor.
          Nullam velit ante, tempor eu enim fringilla, efficitur mollis dui. Proin pellentesque et velit et posuere.
          Ut dictum nunc tellus, a euismod magna pharetra sit amet. Praesent tempor velit non pharetra iaculis.
          Phasellus iaculis, velit sit amet lobortis tristique, felis metus cursus dui,
          sit amet pretium arcu erat nec felis. Orci varius natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus.Sed mattis eros at maximus congue.
        </p>
      </div>
    </div>
  <br>
  <br>
    <div class = "outer_project_block">
      <%= link_to  "Ultimate Giga Master Super Summoner King - Playable (system) console strategy game","https://github.com/TrueZortal/projectXD", class: "project_title_text", target: :_blank %>
        <div class = "project_block">
          <%= image_tag "s3://buczek-blog-bucket/summoner_game_console.png", class: "project_pic_left" %>
          <p class = "project_text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non convallis tortor.
          Nullam velit ante, tempor eu enim fringilla, efficitur mollis dui. Proin pellentesque et velit et posuere.
          Ut dictum nunc tellus, a euismod magna pharetra sit amet. Praesent tempor velit non pharetra iaculis.
          Phasellus iaculis, velit sit amet lobortis tristique, felis metus cursus dui,
          sit amet pretium arcu erat nec felis. Orci varius natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus.Sed mattis eros at maximus congue.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non convallis tortor.
          Nullam velit ante, tempor eu enim fringilla, efficitur mollis dui. Proin pellentesque et velit et posuere.
          Ut dictum nunc tellus, a euismod magna pharetra sit amet. Praesent tempor velit non pharetra iaculis.
          Phasellus iaculis, velit sit amet lobortis tristique, felis metus cursus dui,
          sit amet pretium arcu erat nec felis. Orci varius natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus.Sed mattis eros at maximus congue.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non convallis tortor.
          Nullam velit ante, tempor eu enim fringilla, efficitur mollis dui. Proin pellentesque et velit et posuere.
          Ut dictum nunc tellus, a euismod magna pharetra sit amet. Praesent tempor velit non pharetra iaculis.
          Phasellus iaculis, velit sit amet lobortis tristique, felis metus cursus dui,
          sit amet pretium arcu erat nec felis. Orci varius natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus.Sed mattis eros at maximus congue.
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non convallis tortor.
          Nullam velit ante, tempor eu enim fringilla, efficitur mollis dui. Proin pellentesque et velit et posuere.
          Ut dictum nunc tellus, a euismod magna pharetra sit amet. Praesent tempor velit non pharetra iaculis.
          Phasellus iaculis, velit sit amet lobortis tristique, felis metus cursus dui,
          sit amet pretium arcu erat nec felis. Orci varius natoque penatibus et magnis dis parturient montes,
          nascetur ridiculus mus.Sed mattis eros at maximus congue.
        </p>
      </div>
    </div>
  <br>
    <div class = "project_body">
      <div class = "outer_project_block">
        <%= link_to  "Buczek.blog blog","https://github.com/TrueZortal/Buczek.blog", class: "project_title_text", target: :_blank %>
          <div class = "project_block">
            <%= image_tag "s3://buczek-blog-bucket/blog_blog.png", class: "project_pic_right", size:"600x327" %>
            <p class = "project_text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non convallis tortor.
            Nullam velit ante, tempor eu enim fringilla, efficitur mollis dui. Proin pellentesque et velit et posuere.
            Ut dictum nunc tellus, a euismod magna pharetra sit amet. Praesent tempor velit non pharetra iaculis.
            Phasellus iaculis, velit sit amet lobortis tristique, felis metus cursus dui,
            sit amet pretium arcu erat nec felis. Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus.Sed mattis eros at maximus congue.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non convallis tortor.
            Nullam velit ante, tempor eu enim fringilla, efficitur mollis dui. Proin pellentesque et velit et posuere.
            Ut dictum nunc tellus, a euismod magna pharetra sit amet. Praesent tempor velit non pharetra iaculis.
            Phasellus iaculis, velit sit amet lobortis tristique, felis metus cursus dui,
            sit amet pretium arcu erat nec felis. Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus.Sed mattis eros at maximus congue.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non convallis tortor.
            Nullam velit ante, tempor eu enim fringilla, efficitur mollis dui. Proin pellentesque et velit et posuere.
            Ut dictum nunc tellus, a euismod magna pharetra sit amet. Praesent tempor velit non pharetra iaculis.
            Phasellus iaculis, velit sit amet lobortis tristique, felis metus cursus dui,
            sit amet pretium arcu erat nec felis. Orci varius natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus.Sed mattis eros at maximus congue.
        </p>
      </div>
    </div>
  </div>
<% end %>