<% if user_signed_in? && current_user.admin %>
    <%= link_to 'New Post', new_post_path, data: { turbo_frame: "main" }, class: "btn btn--admin" %>
<% end %>
<div class = "posts">
  <table class = "posts_table">
  <tr>
    <td rowspan="2" colspan="2">
      <% @posts.to_a.shift(1).each do |post|%>
        <%= link_to post_path(post.id) do %>
          <div class = "highlight_thumbnail" style="background-image: url(<%= url_for(post.thumbnail.variant(:center)) %>)" >
            <div class = "highlight_linkbox">
              <h5 class = "highlight_linktext"><%= post.title %></h5>
            </div>
            <% if user_signed_in? && current_user.admin %>
              <%= link_to "edit", edit_post_path(post.id), class: "btn btn--admin"%>
              <%= link_to "delete", post, data: { turbo_method: :delete, turbo_confirm: "Deleting post, confirm?" }, class: "btn btn--admin"%>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </td>
    <% @posts.each_with_index do |post, index| %>
      <% next if index == 0%>

      <% if index < 3 %>
        <td>
      <% elsif index == 3 %>
        <tr>
          <td>
      <% elsif index < 5 %>
        <td>
      <% elsif index == 5 || (index - 5) % 4 == 0 %>
        <tr>
          <td>
      <% else %>
          <td>
      <% end %>
        <%= link_to post_path(post.id) do %>
          <div class = "thumbnail" style="background-image: url(<%= url_for(post.thumbnail.variant(:thumb)) %>)" >
            <div class = "linkbox">
              <h5 class = "linktext"><%= post.title %></h5>
            </div>
            <% if user_signed_in? && current_user.admin %>
              <%= link_to "edit", edit_post_path(post.id), class: "btn btn--admin"%>
              <%= link_to "delete", post, data: { turbo_method: :delete, turbo_confirm: "Deleting post, confirm?" }, class: "btn btn--admin"%>
            <% end %>
          </div>
        <% end %>
      <% if index < 3 %>
        </td>
      <% elsif index == 3 %>
          </td>
      <% elsif index == 4 %>
        </td>
          </tr>
      <% elsif index < 5 %>
        </td>
      <% elsif index % 4 == 0 %>
        </td>
         </tr>
      <% else %>
        </td>
      <% end %>
    <% end %>
  </table>
</div>
