<%= turbo_frame_tag "main" do %>
  <% if user_signed_in? && current_user.admin %>
      <%= link_to 'New Post', new_post_path, data: { turbo_frame: "main" }, class: "btn btn--admin" %>
  <% end %>
  <div class = "posts_navigation">
    <div class = "navigation_button right" id = "posts_forward" data-controller = "carousel" data-action="click->carousel#scrollRight"></div>
    <div class = "navigation_button left" id = "posts_forward" data-controller = "carousel" data-action="click->carousel#scrollLeft"></div>
    <div class = "post_carousel" id = "posts_car">
      <% @posts.each do |post| %>
        <div class = "post_box">
          <%= link_to post_path(post.id) do %>
          <div class = "post_art" style="background-image: url(<%= url_for(post.thumbnail.variant(:thumb)) %>)">
            <div class = "post_title_box">
              <p class = "post_title">
                <%= post.title %>
              </p>
            </div>
            <p class = "date_time"> <%= post.updated_at.to_formatted_s(:long) %> </p>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class = "archive_link_container">
      <%= link_to 'View the full posts archive..', archive_path, data: { turbo_frame: "main" }, class: "archive_link" %>
    </div>
  </div>
<% end %>
