<div class='container'>
  <div id="content">
      <%= render partial: 'shared/menu_horizontal', locals: { active: :blog } %>
      <% if is_admin %>
          <%= link_to 'New Post', new_post_path, data: { turbo_frame: "main", turbo_action: "replace" }, class: "btn btn--admin" %>
      <% end %>
      <div class = "posts_navigation">
        <div class = "post_carousel" id = "posts_car">
          <div class = "navigation_button right" id = "posts_forward" data-controller = "carousel" data-action="click->carousel#scrollRight">
            <div class = "arrow_right"></div>
          </div>
          <div class = "navigation_button left" id = "posts_backwards" data-controller = "carousel" data-action="click->carousel#scrollLeft">
            <div class = "arrow_left"></div>
          </div>
          <% @posts.each do |post| %>
            <div class = "post_box">
              <%= link_to post_path(post.id) do %>
              <div class = "post_art" style="background-image: url(<%= url_for(post.thumbnail.variant(:thumb)) %>)">
                <div class = "post_title_box">
                  <p class = "post_title">
                    <%= post.title %>
                  </p>
                </div>
              </div>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class = "archive_link_container">
          <%= link_to 'View the full posts archive..', archive_path, class: "archive_link" %>
        </div>
      </div>
  <div>
</div>
