<div class='container'>
  <div id='content'>
    <%= render partial: 'shared/menu_horizontal', locals: { active: :blog } %>
    <div class = "post_body">
      <div class = "individual_post_title_wrapper">
        <div class = "individual_post_highlightbox">
          <h1 class = "individual_post_title"><%= @post.title %></h1>
        </div>
      </div>
      <div class = "gobackdiv">
        <%= link_to "go back", posts_path, class: "goback_btn" %>
      </div>
      <hr class = "full_line">
      <p class = "post_content"><%= @post.content %></p>
      <% if is_admin %>
        <%= link_to "edit", edit_post_path, class: "btn btn--admin"%>
        <%= link_to "delete", @post, data: { turbo_method: :delete, turbo_confirm: "Deleting post, confirm?" }, class: "btn btn--admin"%>
      <% end %>
      <br>
    </div>
  </div>
</div>
