<%= turbo_frame_tag "posts" do %>

<h2><%= @post.title %></h2>
<h3><%= @post.content %></h3>

<%= link_to "go back", root_path, class: "btn btn--primary"%>
<%= link_to "edit", edit_post_path, class: "btn btn--primary"%>
<%= link_to "delete", @post, data: { turbo_method: :delete, turbo_confirm: "Deleting post, confirm?" }, class: "btn btn--primary"%>

<h4>comments:</h4>
<%= turbo_frame_tag "comments" do %>
  <% @comments.each do |comment| %>
  <li>
    <h4> <%= comment.user %> </h4>
    <h6> <%= comment.created_at %> </h6>
    <h5> <%= comment.body %> </h5>
  </li>
  <% end %>
  <%= link_to "New comment", new_post_comment_path(post_id: @post.id) , class: "btn btn--secondary" %>
<% end %>

<% end %>