<!DOCTYPE html>
<html>
  <head>
    <title>MateuszBuczek.com</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="MateuszBuczek.com - Personal page of Mateusz Buczek: an analyst, programmer, psychologist and someone who loves writing. Here you'll find a bit of all of the things mentioned before">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag asset_path('favicon_small.png') %>
  </head>

  <body data-controller='parallax'>
    <%= yield %>
    <%= render partial: "shared/alerts"%>
    <%= render partial: "shared/cookies"%>
    <%= render partial: "shared/footer"%>
  </body>
</html>
