<!DOCTYPE html>
<html>
  <head>
    <title>BuczekBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="Buczek.blog - Personal blog of Mateusz Buczek: an analyst, psychologist, programmer and someone who loves writing. Here you'll find a bit of all of the things mentioned before">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <% if notice %> <p class="alert alert-success"><%= notice %></p> <% end %>
    <% if alert %> <p class="alert alert-danger"><%= alert %></p> <% end %>
    <%= render partial: "shared/cookies"%>
    <%= render partial: "shared/footer"%>
  </body>
</html>
